mixin HeroSection 
  section#home.mb-9.mb-lg-10.mb-xxl-11.text-center.text-lg-start.mt-9
    div 
      .row.g-4.g-lg-6.g-xl-7.mb-6.mb-lg-7.mb-xl-10.align-items-center
        .col-12.col-lg-6
            img(src=`${CWD}assets/img/Hero/radparade.png`, alt="Plakat zur Radparade Völs").img-fluid.w-50.w-lg-100
        .col-12.col-lg-6
          p.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold.mb-x1.text-capitalize Fr. 20.9.2024, 15:00 Uhr, Treffpunkt Vorplatz Bahnhof Völs (Süd) 
          h1.fs-5.fs-md-3.fs-xxl-2.text-black.fw-light.mb-4
            | Mache bei der 
            span.fw-bold Radparade 
            | mit!
          p.fs-8.fs-md-11.fs-xxl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light
            | Anschließend 
            span.fw-bold Abschlussfest 
            bei der Volksschule.
            br
            span.fw-bold Sichere Wege für ALLE!
            br
            | organisiert vom Radstammstisch Völs im Rahmen der Europäischen Mobilitätswoche. 
            
          a.btn.btn-gradient.fs-8.mt-1.d-inline-flexa(href="pages/radparade.html") 
              span mehr zur Radparade
              span.uil.uil-arrow-right
      
      .row.g-4.g-lg-6.g-xl-7.mb-6.mb-lg-7.mb-xl-10.align-items-center
        .col-12.col-lg-6.order-1.order-lg-0
          p.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold.mb-x1.text-capitalize Online Petition 
          h1.fs-5.fs-md-3.fs-xxl-2.text-secondary.text-capitalize.fw-light.mb-4
            | Radunterführung beim Bahnhof Völs 
            span.fw-bold JETZT! 
          p.fs-8.fs-md-11.fs-xxl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light
            | Im Zuge des Umbaus des Bahnhofs Völs soll eine eigene Radunterführung im unmittelbaren Bereich des Bahnhofs errichtet werden.
            | Dadurch können derzeit bestehende Gefahrenstellen für Radfahrer*innen und Füßgänger*innen  vermieden werden.

          a.btn.btn-gradient.fs-8.mt-1.d-inline-flexa(href="https://www.openpetition.eu/at/petition/online/radunterfuehrung-beim-bahnhof-voels-jetzt") 
              span unterschreiben
              span.uil.uil-arrow-right

        .col-12.col-lg-6.order-0.order-lg-1
          img(src=`${CWD}assets/img/Hero/radunterfuehrung_quadrat.jpg`, alt="").img-fluid.w-50.w-lg-100
        
      .row.g-4.g-lg-6.g-xl-7.mb-6.mb-lg-7.mb-xl-10.align-items-center
        .col-12.col-lg-6
            img(src=`${CWD}assets/img/Hero/radparade.png`, alt="Plakat zur Radparade Völs").img-fluid.w-50.w-lg-100
        .col-12.col-lg-6
          h1.fs-5.fs-md-3.fs-xxl-2.text-black.fw-light.mb-4
            | Radfahren in Völs
          p.fs-8.fs-md-11.fs-xxl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light
            | Informationen zur aktuellen Situation für Fahrradfahrende in Völs.
            
          a.btn.btn-gradient.fs-8.mt-1.d-inline-flexa(href="subseite.html") 
              span mehr zum Radfahren in Völs
              span.uil.uil-arrow-right
