mixin Footer 

  footer(style=`background-image: url('${CWD}assets/img/illustrations/BOTTOM.png')` class="Footer")
    .pb-x1.px-3.px-lg-0 
      .container 
        .row.g-4.g-sm-6
          .col-6.col-md-4
            a(href=`${CWD}`).cursor-pointer
              img(src=`${CWD}assets/img/logos/Footer_logo.png`, alt="Logo").img-fluid

          .col-6.col-md-4
            h3(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-3 Folge uns auf
            .d-flex.align-items-center 
              a(href="#!").social-icon.me-2
                span.uil.uil-instagram.fs-8 
                | Instagram

          .col-12.col-md-4
            .mb-3
              p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-nomal.mb-0    Kontakt 
            .fs-10.fs-md-9
              p.mb-0.text-white.opacity-70  Radstammtisch Völs
              p.mb-0.text-white.opacity-70  radstammtisch.voels@gmail.com

    .bg-success.py-2.py-md-3.position-relative.terms-condition
      .overley-background
      .container.py-12.text-div.text-md-end
                        
                      
        

