extends ../layouts/LayoutTheme



append content 
    .container(data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0")
        section#about.mb-9.mb-lg-10.mb-xxl-11.text-center.text-lg-start
            h4.mb-x1.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold.pt-6 Radfahren in Völs 
            .row.mb-7.mb-lg-8.mb-xl-9.gap-3
                .col-12.col-lg 
                    h2.text-black.fs-10.fs-md-9.fs-xxl-8.lh-xl.mb-0.line-clamp-5    Informationen zur aktuellen Situation für Fahrradfahrende in Völs
                    p.fw-bold Sichere Wege für ALLE! 
                    p Für das Radeln und zu Fuß gehen in Völs sind viele gute Wege vorhanden. 
                    | Trotzdem gibt es in vielen Bereichen Verbesserungsmöglichkeiten, auf die wir mit dieser Radparade aufmerksam machen. 
                    p 
                        | Mit dem 
                        span.fw-bold geplanten barrierefreien Umbau des Bahnhofs 
                        | bietet sich die Jahrhundertchance auch eine Radunterführung zu bauen. 
                        | Diese bringt, wenn sie umgesetzt wird, für Radfahrende besonders aus dem Westen von Völs einen deutlichen Sicherheitsgewinn, da nicht mehr die Unterführung bei der OMV genutzt werden muss. 
                        | Dies kommt vor allem auch Fußgänger*innen zu Gute, da es am ohnehin sehr schmale Gehsteig in der OMV Unterführung dann zu keinen Begegnungskonflikten mit Radfahrenden mehr kommt.
                    img(src=`${CWD}assets/img/pages/Entfernung_fuer_Radfahrende.jpg`, alt="Entfernung für Radfahrende").img-fluid.w-50.w-lg-100.mb-3
                    img(src=`${CWD}assets/img/pages/Umweg_durch_fehlende_radunterfuehrung.jpg`, alt="Umweg durch fehlene Radunterführung").img-fluid.w-50.w-lg-100.mb-3

                    p 
                    | Die 
                    span.fw-bold Unterführung in der Kranebitterstraße 
                    |  ist die wesentliche Verbindung für alle aus dem Osten oder dem Dorfkern von Völs, die mit dem Rad oder zu Fuß in die Cyta wollen. 
                    | Hier gibt es ebenfalls deutliches Verbesserungspotential um den Weg attraktiver für Radler*innen und Fußgänger*innen zu machen. 
                    
                    p Außerdem gibt es noch weitere Verbesserungsmöglichkeiten für das Radfahren in Völs, z.B.: die Situation im Cyta, die unübersichtliche Kreuzung Innsbrucker-Str./Dorfstr./Kirchgasse oder auch die generell hohen Geschwindigkeiten z.B. auf der Bahnhofsstraße oder Landessstraße.
                    p Auch für Fußgänger*innen könnte die Situation noch deutlich verbessert werden.
                    img(src=`${CWD}assets/img/pages/Rad_Fussgaenger_Routen_Gefahrenstellen.jpg`, alt="Rad & Fußgängerrouten Gefahrenstellen").img-fluid.w-50.w-lg-100.mb-3
                    img(src=`${CWD}assets/img/pages/Rad_Gefahrenstellen.jpg`, alt="Rad Gefahrenstellen").img-fluid.w-50.w-lg-100.mb-3

                    p Welche Problemstellen gibt es noch in Völs? 
                    p 
                        a(href="mailto:radstammtisch.voels@gmail.com").fw-bold Schreib uns 
                        | oder komm zum nächsten Stammtisch!
                    p 
                .d-flex.flex-column.flex-lg-row.justify-content-center.align-items-center.mb-8.mb-lg-10 

