extends ../layouts/LayoutTheme


append content 
    .container(data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0")
        section#about.mb-9.mb-lg-10.mb-xxl-11.text-center.text-lg-start
            h4.mb-x1.fs-8.fs-md-7.fs-xxl-6.text-primary.fw-bold.pt-6.text-capitalize Radparade 
            .row.mb-7.mb-lg-8.mb-xl-9.gap-3
                .col-12.col-lg 
                    p.text-black.fs-10.fs-md-9.fs-xxl-8.lh-xl.mb-0.line-clamp-5.mb-3    Unser Radparade für Klein und Groß

                    p.text-black 
                        | Unter dem Motto 
                        span.fw-bold „Sichere Wege für ALLE!“ 
                        | veranstaltet der Radstammtisch Völs 
                        span.fw-bold am 20. September 2024 um 15 Uhr 
                        | eine Radparade für Klein und Groß. Wir laden alle radbegeisterten Völserinnen und Völser ein mitzuradeln und sich gemeinsam für sichere Rad- und Fußwege in unserer Gemeinde einzusetzen. 
                        span.fw-bold Treffpunkt ist am Vorplatz des Bahnhofs in Völs.

                    p.text-black  
                        | Im Anschluss findet 
                        span.fw-bold ab ca. 16 Uhr ein Abschlussfest am Vorplatz der Volksschule Völs 
                        | mit vielen Aktivitäten für Kinder und Erwachsene statt:
                    ul 
                        li Straßenkreidemalen, 
                        li Infostand,
                        li Fahrräder verzieren, 
                        li ein Schätzspiel und 
                        li musikalische Darbietungen.

                    p Mit dabei sind neben dem Radstammtisch Völs auch der Kulturkreis Völs, die Jungschar Völs, die Pfadfinder*innen Völs sowie die Zupfkapelle. 
                    p Wir feiern damit die europäische Mobilitätswoche, die alljährlich umweltfreundliche Mobilität in den Mittelpunkt stellt.

                    p.mb-0.text-light  Die Radparade für Klein und Groß ist eine für Kinder bewilligte Demonstration, um sich für sichere Rad- und Fußwege in der Gemeinde Völs einzusetzen. Sie wird von der Polizei und Ordner*innen begleitet. Bitte achten Sie besonders beim Radfahren auf Ihre Sicherheit und die Ihrer Kinder. Während der Veranstaltung werden Fotos aufgenommen. Durch Ihre Teilnahme stimmen Sie der Veröffentlichung dieser Fotos zu. 

                    h5.mt-3.mb-4 Route der Radparade

                    p Wir treffen uns am Bahnhof Völs fahren dann über die Bahnhofstraße zur Kranebitterstraße dort durch die Kranebitter-Unterführung. Dort biegen wir nach links auf die Landesstraße und fahren durch die blaue Unterführung (bei der OMV), biegen an dieser Stelle wieder auf die Aflingerstraße und fahren über die Bahnhofstraße zur Volksschule.

                    p  Karte der Demoroute: 
                    | <iframe width="100%" height="350px" frameborder="0" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/de/map/radparade-vols_1109352?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true"></iframe>
                    br
                    a(href="//umap.openstreetmap.fr/de/map/radparade-vols_1109352?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true") Vollbildanzeige der Karte  hier

